/*
  Main Stylesheet
*/
* {
  box-sizing: border-box;
}

.header-box {
  background-color: rgb(127, 186, 56);
  border-radius: 20px;
  height: 100px;
  margin: 0;
  width: 100%;
}

.heading {
  color: white;
  font-family: arial;
  padding: 2rem;
}
