/*
  Main Stylesheet
*/
* {
  box-sizing: border-box;
}

.header-box {
  background-color: rgb(127, 186, 56);
  border-radius: 20px 20px 0 0;
  height: 100px;
  margin: 0;
  width: 100%;
}

.name {
  color: white;
  font-family: arial;
  padding: 2rem;
}


.heading {
  color: white;
  font-family: arial;
  padding: 2rem;
}

.contact-list {
  color: black;
  display: inline-block;
  line-height: 5rem;
  list-style: none;
}

.contact_name {
  display: inline-block;
  margin: 0;
}

.contact_list {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contact {
  list-style-type: none;
  height: 60px;
  border-bottom: 1px solid rgb(233, 235, 238);
}

.contact_link {
  display: inline-block;
  height: 100%;
  padding: 10px 10px;
  width: 100%;
}

.contact_img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0;
}

.header {
  background-color: rgb(127, 186, 56);
  border-radius: 20px 20px 0 0;
  height: 200px;
  margin: 0;
  width: 100%;
}

.contactInfo_img {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-left: 30%;
  margin-top: 2.5rem;
  position: absolute;
}

.contact_info {
  list-style-type: none;
  line-height: 3rem;
  border-bottom: 1px solid rgb(233, 235, 238);
}

.back {
  margin: 10px;
  padding: 0;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}
